.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.th-title, .td-user{
    font-size: 16px;
    transition: .2s;
}

.td-user:hover,.td-user:nth-child(odd):hover {
    background-color: rgba(123, 247, 247, 0.707);
  }
.td-user:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.4);
  }
.table-title{
    text-align: center;
    font-size: 30px; 
}
.thead{
    display: flex;
    justify-content: center;
}
.thead-th{
    font-size: 20px;
}
.table{
    border: 1px solid black;
    background-color: skyblue;
    border-radius: 8px;
    padding: 5px;
}
.table{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media (max-width:640px){
    .th-title, .td-user{
        font-size: 13px;
    }
}
/* @media (max-width:590px){
    .th-title, .td-user{
        font-size: 15px;
    }
} */
@media (max-width:540px){
    .th-title, .td-user{
        font-size: 11px;
    }
}
@media (max-width:490px){
    .th-title, .td-user{
        font-size: 10px;
    }
}
@media (max-width:460px){
    .th-title, .td-user{
        font-size: 9px;
    }
}
@media (max-width:410px){
    .th-title, .td-user{
        font-size: 8px;
    }
}
@media (max-width:375px){
    .th-title, .td-user{
        font-size: 7px;
    }
}
@media (max-width:340px){
    .th-title, .td-user{
        font-size: 6.5px;
    }
}